<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053229017738-m9nknv8o1d1ekk3qb8esi9igjf7gpncn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053229017738-m9nknv8o1d1ekk3qb8esi9igjf7gpncn</string>
	<key>API_KEY</key>
	<string>AIzaSyA3BMjaJkbWdXyg_xxt9MSLTydLjC50UHI</string>
	<key>GCM_SENDER_ID</key>
	<string>1053229017738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itreserved.vvip</string>
	<key>PROJECT_ID</key>
	<string>vvip-pass</string>
	<key>STORAGE_BUCKET</key>
	<string>vvip-pass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053229017738:ios:af0d55721cfe2f1cf39b73</string>
</dict>
</plist>